@charset "UTF-8";
:root {
  --title-text-color: #212121;
  --primari-text-color: #757575;
  --primari-white-color: #FFFFFF;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --hero-bgrcolor: #2F303A;
  --button-filter: #F5F4FA;
  --hover-button: #188ce8;
  --border-box: #EEEEEE;
  --var--bg-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.icon-iconName {
  background-image: url("../images/iconName.svg");
}

.icon-iconName {
  background-image: url("../images/iconName.svg");
}

.icon-iconName {
  background-image: url("../images/iconName.svg");
}

.icon-iconName {
  background-image: url("../images/iconName.svg");
}

body {
  background-color: var(--primari-white-color);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-family: "Roboto";
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.container {
  width: 1200px;
  /* outline: 2px solid; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-accent,
.logo-black,
.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-color);
  margin-right: -4px;
}

.logo-black {
  color: var(--title-text-color);
}

.logo-white {
  color: var(--button-filter);
}

.logo-link:hover {
  color: red;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.site-nav {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-family: "Roboto";
  font-style: normal;
  position: relative;
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.strip::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scaleX(t 1);
          transform: scaleX(t 1);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
}

.strip:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#studio {
  color: var(--accent-color);
}

.contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  margin-left: auto;
}

.contact .item {
  padding: 32px 0px;
  margin: 0;
}

.contact .contact__list + .contact__list {
  margin-left: 30px;
}

a.contact__link:hover,
.contact__link:focus {
  color: #188ce8;
  fill: #188ce8;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  fill: currentColor;
  color: currentColor;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.contact__icon-massage {
  margin-right: 10px;
  /* fill: currentColor; */
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primari-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  -webkit-transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-button);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: scale 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: scale 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), scale 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), scale 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  outline: none;
  fill: black;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  -webkit-transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.button-close:hover,
.button-close:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.button-close svg {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-modal {
  display: block;
  height: 100%;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
}

.title-modal {
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* outline: 1px solid teal; */
  margin-bottom: 20px;
}

.form-field:nth-child(4) {
  margin-bottom: 0;
}

/* .form-field:nth-child(-n + 3) {
    margin-bottom: 15px;
} */
.form-comment {
  position: relative;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 4px;
  width: 448px;
  height: 120px;
}

.icon-modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--title-text-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-field:hover .icon-modal {
  fill: #2196F3;
}

/* MODAL 2 */
/* .form-field:focus-within > .icon-modal{

 fill: blue;
}

.form-field:focus-within > .form-label {
transform: translateY(-33px);
}

.form-input:not(:placeholder-shown) + .form-label {
transform: translateY(-50px);
} 
 */
/* Modal 1 Хороший ВАРИАНТ! */
.form-input:focus ~ .icon-modal,
.form-input:hover ~ .icon-modal {
  fill: var(--accent-color);
}

.form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(-40px);
}

.form-input:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(-40px);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.form-input:-moz-placeholder-shown {
  background-color: white;
}

.form-input:-ms-input-placeholder {
  background-color: white;
}

.form-input:placeholder-shown {
  background-color: white;
}

/* MODAL 3 в процессе без ID и bez LABEL */
/* 
.form-field:focus-within > .icon-modal {
    fill: rgb(14, 161, 230);
}


.form-field:focus-within > .form-label {
    transform: translateY(-210%);
}


.form-input:not(:placeholder-shown) + .form-label {
transform: translateY(-35px);
} */
.chekbox {
  /*     
  appearance: none;
  -webkit-appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

/* .field-checkbox:hover,
.field-checkbox:focus {
    border-color: #2196F3;
} */
.icon-chekbox {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  margin-right: 8px;
}

.links-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-left: 3px;
  text-decoration: underline;
}

.span-modal {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.chekbox:checked + .icon-chekbox {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icons.svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

/* MODAL */
.form-label {
  position: absolute;
  top: 54%;
  left: 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.form-field input {
  width: 448px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  outline: none;
}

.form-field input:hover,
.form-field input:focus {
  border-color: #2196F3;
}

.form-field input[type=checkbox] {
  width: 16px;
  height: 15px;
}

/* .form-field:focus-within>.form-input {
   color: rgb(14, 161, 230);
} */
textarea {
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  outline: none;
  resize: none;
}

.textarea placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: red;
}

.title-comment {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-comment textarea:hover,
.form-comment textarea:focus {
  border-color: #2196F3;
}

.form-field input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.form-field input::-moz-placeholder {
  color: #C4C4C4;
}

.form-field input:-ms-input-placeholder {
  color: #C4C4C4;
}

.form-field input::-ms-input-placeholder {
  color: #C4C4C4;
}

.form-field input::placeholder {
  color: #C4C4C4;
}

.form-field textarea::-webkit-input-placeholder {
  color: #C4C4C4;
}

.form-field textarea::-moz-placeholder {
  color: #C4C4C4;
}

.form-field textarea:-ms-input-placeholder {
  color: #C4C4C4;
}

.form-field textarea::-ms-input-placeholder {
  color: #C4C4C4;
}

.form-field textarea::placeholder {
  color: #C4C4C4;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.chekbox:hover + .icon-chekbox,
.chekbox:focus + .icon-chekbox {
  border-color: #2196F3;
}

.list-best {
  background-color: red;
}
.list-best:nth-child(5) {
  background-color: white;
  color: red;
}

.list-best1 {
  background-color: black;
  color: white;
  width: 350px;
}
.list-best1:hover {
  color: white;
}

#portfolio {
  color: var(--accent-color);
}

.hello {
  color: black;
}
.hello:hover {
  color: red;
}

.header {
  border-bottom: 1px solid var(--border-box);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.container.headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* position: fixed;
      width: 100%;
      z-index: 2;
      top: 0;
      left: auto;
      right: auto;
      min-height: 80px;
      background-color: white; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  background-color: var(--hero-bgrcolor);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.adress-list {
  padding: 0;
  margin: 0;
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item:last-child {
  margin-bottom: 0;
}

.footer .adress {
  font-family: "Roboto";
  color: var(--primari-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer .info {
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.info:hover,
.info:focus {
  color: var(--accent-color);
}

.socials-footer {
  margin-left: 70px;
}

.footer-title {
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.socials-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.socials-footer__item:not(:last-child) {
  margin-right: 10px;
}

.socials-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--primari-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials-footer__link:hover,
.socials-footer__link:focus {
  background-color: #188ce8;
  fill: white;
}

.sign {
  margin-left: auto;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-label {
  margin-right: 12px;
}

.footer-label input::-webkit-input-placeholder {
  /* padding-left: 16px; */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-label input::-moz-placeholder {
  /* padding-left: 16px; */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-label input:-ms-input-placeholder {
  /* padding-left: 16px; */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-label input::-ms-input-placeholder {
  /* padding-left: 16px; */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-label input::placeholder {
  /* padding-left: 16px; */
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
}

.footer-input {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: white;
  background: transparent;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.footer-input:focus,
.footer-input:hover {
  border-color: #2196F3;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-list .flex-feature + .flex-feature {
  margin-left: 30px;
}

.container-feature {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.feature__title {
  font-family: "Roboto";
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/icons.svg/heroo.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/icons.svg/heroo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}

.hero__title {
  font-family: "Roboto";
  color: var(--primari-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.section.work {
  padding-top: 0;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item + .work__item {
  margin-left: 30px;
}

.work__item {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2px;
  width: 100%;
  height: 72px;
  bottom: 0;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primari-white-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.socials__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--var--bg-icon);
  background-color: var(--primari-white-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  /* fill: #AFB1B8; */
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 0;
  margin: 0;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__links:hover,
.socials__links:focus {
  fill: var(--primari-white-color);
  background-color: var(--accent-color);
}

.section--team {
  background-color: var(--button-filter);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.team__item {
  width: 270px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.14);
  background-color: #FFFFFF;
}

.section--team .team__item + .team__item {
  margin-left: 30px;
}

.team__staff {
  padding: 30px 32px;
  background-color: #FFFFFF;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--var--bg-icon);
  border: 1px solid var(--var--bg-icon);
  border-radius: 3px;
  -webkit-transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  outline: none;
}

.client__links:focus,
.client__links:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.client__item {
  margin-top: 15px;
  margin-left: 15px;
}

.client > .client__item {
  -ms-flex-preferred-size: calc(16.6666666667% - 15px);
      flex-basis: calc(16.6666666667% - 15px);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter .filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  position: relative;
  background-color: var(--button-filter);
  color: var(--title-text-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primari-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project-list .project-list__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
}

.project-list__item {
  margin-right: 30px;
}

.project-list__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.project-list__item:nth-child(3n) {
  margin-right: 0;
}

.project-list__link {
  display: block;
}

.project-list__link:hover,
.project-list__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.project-list__link:hover .project-list__description::before,
.project-list__link:focus .project-list__description::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__link:hover .project-list__paragraph,
.project-list__link:focus .project-list__paragraph {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__description {
  position: relative;
  overflow: hidden;
}

.project-list__description::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-function) 250ms;
  transition: -webkit-transform var(--timing-function) 250ms;
  transition: transform var(--timing-function) 250ms;
  transition: transform var(--timing-function) 250ms, -webkit-transform var(--timing-function) 250ms;
  /* opacity: 0; */
}

.project-list__link:hover .project-list__description::before,
.project-list__link:focus .project-list__description::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  position: absolute;
  bottom: 0;
  color: var(--primari-white-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* opacity: 0; */
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.project-list__link:hover .project-list__paragraph,
.project-list__link:focus .project-list__paragraph {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__text-box {
  padding: 20px 24px;
  border-right: 1px solid var(--border-box);
  border-bottom: 1px solid var(--border-box);
  border-left: 1px solid var(--border-box);
  width: 370px;
}

.project-list__title {
  margin: 0;
  margin-bottom: 4px;
  margin-right: auto;
}

.project-list .project-list__title {
  font-family: "Roboto";
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  margin-left: auto;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .project-list__text {
  color: var(--primari-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}/*# sourceMappingURL=main.css.map */