 .client {
display: flex;
flex-wrap: wrap;
gap: 30px;
 }


.client__item { 
width: 170px;
height: 92px;

@media screen and (min-width:768px) {
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 3 );
        }
}
}

.client__links {
display: flex;
justify-content: center;
align-items: center;
// width: 170px;
height: 92px;
fill: var(--var--bg-icon);
border: 1px solid var(--var--bg-icon); 
border-radius: 3px;
transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
outline: none;
}


.client__links:focus,
.client__links:hover {
fill: var(--accent-color);
border: 1px solid var(--accent-color);
}



// .client__item {
//     margin-top: 15px;
//     margin-left: 15px;
// }

// .client > .client__item {
// flex-basis: calc(100% / 6 - 15px);
//  }

