.feature-list {
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
            }

        @media screen and (min-width: 1200px) {
            display: flex;
            

        }
            


}

.flex-feature {
    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 15px) / 2 );
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 6 * 15px) / 4);
        }
}





.feature-list .flex-feature+.flex-feature {
    // margin-left: 30px;
}

.container-feature { 
display: inline-flex;
align-items: center;
justify-content: center;
background: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
margin-bottom: 30px;
@media screen and (min-width: 480px) { 
            @media screen and (min-width: 480px) {
     width: 450px;
    
        }

            @media screen and (min-width: 768px) {
                width: 354px;
    
    }

            @media screen and (min-width: 768px) {
                width: 270px;
    
    }
}

}





.feature__title {
font-family: 'Roboto';
color: var(--title-text-color);
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;

@media screen and (max-width: 767px) {  
    text-align: center;
     }



}

.feature__text {
font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
// @media screen and (min-width: 480px) {
//     margin-bottom: 30px;
//     }

}

