.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/icons.svg/heroo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;

}

.hero__title {
    font-family: 'Roboto';
    color: var(--primari-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}