.socials__links {
display: inline-flex;
align-items: center;
justify-content: center;
fill: var(--var--bg-icon);
background-color: var(--primari-white-color);
width: 44px;
height: 44px;
border-radius: 50px;
/* fill: #AFB1B8; */
transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.socials__team {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 0;
    margin: 0;
}

.socials__item:not(:last-child) {
    margin-right: 10px  ;
}



.socials__links:hover,
.socials__links:focus {
    fill: var(--primari-white-color);
    background-color: var(--accent-color);
}



.section--team {
    background-color: var(--button-filter);
}

.team__list {
        list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 30px;
    // display: flex;
    // text-align: center;

    // @media screen and (min-width: 480px) {
    //         display: block;
    //         justify-content: center;
    //         align-items: center;
    //     }

@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // background-color: #ff5722;
    // margin: -5px;
}
}


.team__item {
    
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.14);
    
        background-color: #FFFFFF;
        //         @media screen and (min-width: 480px) {
                
        // }

        @media screen and (min-width: 768px) {

        width: calc((100% - 2 * 15px) / 2);
    


    // margin: 5px;
}

        @media screen and (max-width: 767px) {
// margin-bottom: 30px;
}

}

.team__img {
    width: 450px;
    // height: 460px;
    // @media screen and (min-width: 480px) {
    //     width: 100%;
    // }


}

.section--team .team__item+.team__item {
    // margin-left: 30px;

}

.team__staff {
    padding: 30px 32px;
    background-color: #FFFFFF;

}

.team__title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team__text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 16px;
}

