.section.work {
    padding-top: 0;

}

.work__list {
    display: flex;

    flex-wrap: wrap;
}

.work__item + .work__item{
margin-left: 30px;
}

.work__item {
position: relative;
justify-content: center;
align-items: center;
width: 370px;
flex-basis: calc(100% / 4);
}

.work__text{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.2px;
width: 100%;
height: 72px;
bottom: 0;
position: absolute;
background: rgba(47, 48, 58, 0.8);
color: var(--primari-white-color);
text-transform: uppercase;
letter-spacing: 0.03em;
}

