.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    // display: flex;
    align-items: baseline;
    text-align: center;
@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.footer-address {
    text-align: center;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) { 
            min-width: 232px;
            margin-bottom: 60px;
     }
}

.footer {
    background-color: var(--hero-bgrcolor);
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.adress-list {
    padding: 0;
    margin: 0;
}

.adress__item {
    margin-bottom: 9px;

}

.adress__item:last-child {
    margin-bottom: 0;
}

.footer .adress {
font-family: 'Roboto';
color: var(--primari-white-color);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 20px;
}

.footer .info {
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms var(--timing-function);
}

.info:hover,
.info:focus {
    color: var(--accent-color);
}

.socials-footer {
    text-align: center;
    margin-bottom: 50px;
@media screen and (min-width: 768px) {
        min-width: 206px;
        margin-left: 165px;
        
    
}

@media screen and (max-width: 1199px) {
    margin-bottom: auto;
}

@media screen and (min-width: 1200px) {
    
    margin-left: 70px;
    

}
 }

.footer-title {
font-family: 'Roboto';
font-weight: 700;
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.2;

letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.socials-footer__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.socials-footer__item:not(:last-child) {
    margin-right: 10px;

}

.socials-footer__link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
fill: var(--primari-white-color);
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50px;
transition: background-color 250ms var(--timing-function),
fill 250ms var(--timing-function);
}

.socials-footer__link:hover,
.socials-footer__link:focus {
background-color:#188ce8;
fill: white;
}

.sign {
    
    @media screen and (min-width: 768px) {
                display: block;
    width: 570px;
    height: 86px;
    margin-left: 93px;
            
}

@media screen and (min-width:1200px) {
    margin-left: auto;
}
 }
.form-footer {
    text-align: center;
@media screen and (min-width:1200px) {
display: inline-flex;
    }
}

.footer-label{
// margin-right: 12px;
}

.footer-label input::placeholder {

/* padding-left: 16px; */
font-size: 16px;
line-height: 1.2;

letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}

.footer-span {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
margin-right: 10px;
}

.footer-input {
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 100%;
height: 50px;
margin-bottom: 20px;
padding-left: 16px;
color: white;
background: transparent;
outline: none;
transition: border-color 250ms var(--timing-function);
@media screen and (max-width: 1199px) {
    
margin-bottom: 20px;

    }

@media screen and (min-width: 1200px) {
        padding-left: 16px;
        width: 358px;
}
 }

.footer-input:focus,
.footer-input:hover {
    border-color: #2196F3;
}




