

.logo-accent,
.logo-black,
.logo-white {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.logo-accent {
    color: var(--accent-color);
    margin-right: -4px;
}

.logo-black {
    color: var(--title-text-color);
}

.logo-white {
    color: var(--button-filter);
}

.logo-link:hover {
    color: red;
}
