.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {

    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function),
        scale 250ms var(--timing-function);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #fff;

}


.button-close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
outline: none;
    fill: black;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.button-close:hover,
.button-close:focus   {
    fill: #2196F3;
    border-color: #2196F3;
}


.button-close svg {
    position: absolute;
    top: 50%;
    left: 30%;

    transform: translateY(-50%);

}

.icon-close {
    display: flex;
    align-items: center;
    justify-content: center;
}





.form-modal {
    display: block;

    height: 100%;
    /* outline: 1px solid tomato; */
    margin-left: auto;
    margin-right: auto;


}

.title-modal {
    font-family: 'Roboto';
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--title-text-color);
}



.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    /* outline: 1px solid teal; */
    margin-bottom: 20px;
}

.form-field:nth-child(4) {
    margin-bottom: 0;
}





/* .form-field:nth-child(-n + 3) {
    margin-bottom: 15px;
} */

.form-comment {
    position: relative;
    display: block;
    flex-direction: column;

    margin-bottom: 20px;
    margin-top: 4px;
    width: 448px;
    height: 120px;
}



.icon-modal {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15px;
    fill: var(--title-text-color);
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
}

.form-field:hover .icon-modal {
    fill: #2196F3;
}


/* MODAL 2 */

/* .form-field:focus-within > .icon-modal{
    
 fill: blue;
}

.form-field:focus-within > .form-label {
transform: translateY(-33px);
}

.form-input:not(:placeholder-shown) + .form-label {
transform: translateY(-50px);
} 
 */




/* Modal 1 Хороший ВАРИАНТ! */
.form-input:focus~.icon-modal,
.form-input:hover~.icon-modal {
    fill: var(--accent-color);
}


.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translateY(-40px);
}

.form-input:placeholder-shown {
    background-color: white;
}


/* MODAL 3 в процессе без ID и bez LABEL */
/* 
.form-field:focus-within > .icon-modal {
    fill: rgb(14, 161, 230);
}


.form-field:focus-within > .form-label {
    transform: translateY(-210%);
}


.form-input:not(:placeholder-shown) + .form-label {
transform: translateY(-35px);
} */

.chekbox {
    /*     
    appearance: none;
    -webkit-appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

/* .field-checkbox:hover,
.field-checkbox:focus {
    border-color: #2196F3;
} */

.icon-chekbox {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    margin-right: 8px;
}



.links-checkbox {

    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: #2196F3;
    margin-left: 3px;
    text-decoration: underline;
}

.span-modal {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    cursor: pointer;
    letter-spacing: 0.03em;
}




.chekbox:checked+.icon-chekbox {
    border-color: #2196F3;
    background-color: #2196F3;
    background-image: url(../images/icons.svg/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}





/* MODAL */

.form-label {
position: absolute;
top: 54%;
left: 42px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
transform: translateY(-50%);
transition: transform 250ms var(--timing-function);
}

.form-field input {
    width: 448px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms var(--timing-function);
    outline: none;
}

.form-field input:hover,
.form-field input:focus {
    border-color: #2196F3;
}

.form-field input[type="checkbox"] {
    width: 16px;
    height: 15px;
}


/* .form-field:focus-within>.form-input {
   color: rgb(14, 161, 230);
} */

textarea {

    width: 448px;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    outline: none;
    resize: none;
}

.textarea placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: red;
}

.title-comment {
display: block;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
margin-bottom: 4px;
margin-top: 10px;
}

.form-comment textarea:hover,
.form-comment textarea:focus {
    border-color: #2196F3;
}








.form-field input::placeholder {
    color: #C4C4C4;
}

.form-field textarea::placeholder {
    color: #C4C4C4;
}




.form-field label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #757575;
}

.chekbox:hover + .icon-chekbox,
.chekbox:focus + .icon-chekbox {
border-color: #2196F3;
} 
