

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    font-family: 'Roboto';
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}