body {
    background-color: var(--primari-white-color);
    color: var(--primari-text-color);
    font-family: Roboto, sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



a {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}
